{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
        <div class="container">
             <h1><center>TREATMENT:</center> </h1>
        </div>
</div>
<div class="container">
    {{ form_start(form) }}
    <div class="row">
      <div class="col-md-6">
      <label>
        Choose the Title :
        </label>
      </div>
      <div class="col-md-6">
  		  {{ form_widget(form.titre) }}
      </div>
    </div>
      <br><br>
    <div class="row">
      <div class="col-md-6">
      <label>
        Decription :
        </label>
      </div>
      <div class="col-md-6">
  		  {{ form_widget(form.contenu) }}
      </div>
    </div>

  		<input type="submit" value="Create" class="btn btn-success"/>
  {{ form_end(form) }}


</div>





{% endblock %}
