{% extends 'base.html.twig' %}

{% block body %}

  <div id="myCarousel" class="carousel slide" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://www.brunswickmedicalcentre.com.au/wp-content/uploads/2013/08/header-1.jpg" style="width:100%" class="img-responsive">
    </div>
    <div class="item">
      <img src="https://i.ytimg.com/vi/upWKRo6IgmI/maxresdefault.jpg" class="img-responsive">

    </div>
    <div class="item">
      <img src="https://static.pexels.com/photos/225841/pexels-photo-225841.jpeg" class="img-responsive">

    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>


</div>
<div class="Features-section paddingTB60 bg-pink ">
    <div class="container">
  <div class="row">
    <div class="col-md-12 site-heading ">
            <h3>To discover</h3>

            <div class="border"></div>
          </div>
  </div>
  <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="col-md-12 feature-box">
                <span class="glyphicon glyphicon-cog icon"></span>
                <h4>Emergency</h4>
                <button type="button" class="btn btn-primary site-btn">See</button>

              </div>
            </div> <!-- End Col -->
            <div class="col-sm-6 col-md-3">
                <div class="col-md-12 feature-box">
                <span class="glyphicon glyphicon-cog icon"></span>
                <h4>Radiology</h4>
                  <button type="button" class="btn btn-primary site-btn">See</button>
              </div>
            </div> <!-- End Col -->

            <div class="col-sm-6 col-md-3">
                <div class="feature-box">
                <span class="glyphicon glyphicon-cog icon"></span>
                <h4>Gynecology</h4>
                  <button type="button" class="btn btn-primary site-btn">See</button>
              </div>
            </div> <!-- End Col -->
            <div class="col-sm-6 col-md-3">
                <div class="col-md-12 feature-box">
                <span class="glyphicon glyphicon-cog icon"></span>
                <h4>Cardiology</h4>
                  <button type="button" class="btn btn-primary site-btn">See</button>
              </div>
            </div> <!-- End Col -->
            <div class="col-sm-6 col-md-3">
                <div class="col-md-12 feature-box">
                <span class="glyphicon glyphicon-cog icon"></span>
                <h4>Neonatal Resuscitation</h4>
                  <button type="button" class="btn btn-primary site-btn">See</button>
              </div>
            </div> <!-- End Col -->
            <div class="col-sm-6 col-md-3">
                <div class="col-md-12 feature-box">
                <span class="glyphicon glyphicon-cog icon"></span>
                <h4>Medical Resuscitation</h4>
                  <button type="button" class="btn btn-primary site-btn">See</button>
              </div>
            </div>

                <div class="col-md-12 feature-box">
            <button type="button" class="btn btn-primary site-btn" src="/"><strong>More ....</strong></button>

            </div>


          </div>
</div>
</div>





{% endblock %}

{% block stylesheets %}

{% endblock %}
