{% extends 'base.html.twig' %}
{% block title %}Contact Doctor{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
        <h2>Mail to Doctor : </h2>
<table width="37%" border="0">
            <div class="well well-sm">
                <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Enter you subject" required="required" />
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

{% endblock %}
