{% extends 'base.html.twig' %}

{% block body %}

    <h1>Utilisateur edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

{% if app.user.role == "ROLE_MEDECIN" %}
{% if app.user.etat == true %}
<h1>Compte medecin Véridié</h1>
{% endif %}
{% if app.user.etat == false %}
<h1>Compte médecin non vérifié</h1>
{% endif %}
{% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
