{% extends 'base.html.twig' %}
{% block title %}Make an Appointement{% endblock %}


{% block body %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.3.2/flatpickr.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.3.2/flatpickr.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


<script type="text/javascript">
        $(document).ready(function() {


          console.log("date = " + Date.now());
            $('.js-datepicker').flatpickr({
                utc: false,
                enableTime: false,
                dateFormat: "Y-m-d",
                minDate: Date.now(),
            });
        });
</script>

<script type="text/javascript">
$(document).ready(function() {
  $('.js-timepicker').timepicker({
    timeFormat: 'HH:mm',
    minTime: "08:00",
    maxTime: "18:00",
    startHour: 8,
    interval: 30,
    'disableTimeRanges': [
        ['09:00', '10:00']
    ]
  });
  //console.log();
});
</script>




<div class="jumbotron">
        <div class="container">
             <h1><center>Appointement:</center> </h1>
        </div>
</div>



<div class="container">
	<div class="row">
                    <div class="row">
                    	<div class="col-md-6">
                        {{ form_start(form) }}
  		{{ form_widget(form) }}
  		<input type="submit" value="Create" />
  {{ form_end(form) }}
                  </div>

	</div>

</div>
    </div>
</div>

{% endblock %}
